<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../assets/css/base/base.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>CasaQuistão - Home</title>
</head>

<body>
  <header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between">
      <a class="navbar-brand" href="./home.html">CasaQuistão</a>
      <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="./dados/profile.html">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./register/property.html">Cadastrar Propriedade</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./register/user.html">Cadastrar Usuário</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="../../index.html" onclick="sessionStorage.clear()"><small>Sair</small></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <main class="container-fluid my-3">
    <section class="col">
      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-secondary btn-lg" onclick="window.location.href='./dados/pessoa.html'">Editar dados
          cadastrais</button>
        <button class="btn btn-secondary btn-lg" onclick="window.location.href='./dados/usuario.html'">Editar dados de
          usuário</button>
      </div>
    </section>
  </main>

  <footer class="d-flex justify-content-center">
    <div>
      <small href="#">&copy; Ciência da Computação - 2021</small>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script type="module" src="../../controller/home.js"></script>
</body>

</html>