<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../assets/css/base/base.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="icon" href="../../assets/img/logo.jpeg">
  <title>CasaQuistão - Dados do Usuário</title>
</head>

<body>
  <header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between">
      <a class="navbar-brand" href="./../home.html"><img class="logo" src="../../assets/img/logo.jpeg"></a>
      <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item px-3">
              <a class="nav-link" href="../../../index.html" onclick="sessionStorage.clear()">Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <main class="container-fluid" data-main-pet>
    <section class="my-4">
      <h1 class="h4 py-1">Atualização de dados de usuário</h1>
      <p class="text-muted">Os campos com * são obrigatórios</p>
    </section>

    <form class="container-sm">
      <div class="row">
        <div class="row">
          <p class="text-muted my-3">Dados de usuário</p>
          <hr />
            <div class="col-md my-3">
              <label class="form-label" for="usuario">* Usuário:</label>
              <input type="text" class="form-control-sm form-control" maxlength="16" id="idUsuario">
            </div>
            <div class="col-md my-3">
              <label class="form-label" for="usuario">* Seu Nome Real:</label>
              <input type="text" class="form-control-sm form-control"  maxlength="32" id="idRealName">
            </div>
            <div class="col-md my-3">
              <label class="form-label" for="emailContact">* Email contato:</label>
              <input type="email" class="form-control-sm form-control" maxlength="64" id="emailContact">
            </div>
            <div class="row">
          <div class="col-md my-3">
            <label class="form-label" for="senha">* Senha:</label>
            <svg xmlns="http://www.w3.org/2000/svg" id="olho" width="16" height="16" fill="currentColor"
            class="bi bi-eye-fill" viewBox="0 0 16 16">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
            <path
                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
            </svg>
            <div class="d-flex align-items-center">
              <input type="password" class="form-control-sm form-control mx-2" id="senha">
            </div>
          </div>
          <div class="col-md my-3">
            <label class="form-label" for="senha">* Senha atual:</label>                            <svg xmlns="http://www.w3.org/2000/svg" id="olho2" width="16" height="16" fill="currentColor"
            class="bi bi-eye-fill" viewBox="0 0 16 16">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
            <path
                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
            </svg>
            <div class="d-flex align-items-center">
              <input type="password" class="form-control-sm form-control mx-2" id="currentSenha">
            </div>
            <div id="passwordHelpBlock" class="form-text">
              Coloque sua senha atual para salvar.
            </div>
          </div>
        </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary my-3" id="updateBtn">Atualizar</button>
    </form>
  </main>

  <footer class="d-flex justify-content-center">
    <div>
      <small href="#">&copy; Ciência da Computação - 2021</small>
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
    <script type="module" src="../../controller/dados/profile.js"></script>

</body>

</html>